* {
  font-family: Rubik;
}

.message {
  /* display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative; */
}

#inputs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#messages {
  /* display: flex; */
  width: 50vw;
  justify-content: center;
  align-items: flex-end;
  /* width: 75vw; */
  left: 25vw;
  position: absolute;
  bottom: 90px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}


textarea {
  height: 70px;
  width: 50vw;
  resize: none;
  position: relative;
}